<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Precio del oro</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

<div class="contenedor-superior" id="indicesup">
    <div><a href="/registro">REGISTRO</a></div>
    <div style="margin-bottom: 40px;"></div>
    <div><a href="/entrada">ENTRADA</a></div>
    <div style="margin-bottom: 40px;"></div>
    <div><a href="/salida">SALIDA</a></div>
</div>



<script id="GblId1592" type="text/javascript">
    function getEmbedMetaDataGblId1592() {
        return {
            "apiKey": 'b6c0b10c-d787-3642-ba64-746650d37556',
            "orgUid": '24b96957-fa2f-3d56-9f82-01ff15c350f4',
            "dashUid": 'f6f878b2-bf62-3749-b7f7-fd2f69e5f9fe',
            "widgetUid": '82dfce60-a0a1-3d2e-aefe-9209686e3e4b',
            "cType": 'http',
            "embedHeight": 450, 
            "embedWidth": 1000,  
            "embedBorder": false 
        }; 
    }
</script>

<div id="embedWidgetDivGblId1592"></div>
<script type="text/javascript" src="https://grovestreams.com/js/embed.js"> </script>

	<form action="/vuelvemenu" method="post">
    		<div class="boton-con-texto">
       		 <button type="submit">Volver al menú principal</button>
    		</div>
	</form>

</body>

</html>

