<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Precio del oro</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="contenedor-superior">
        <div><a href="/registro">REGISTRO</a></div>
        <div style="margin-bottom: 40px;"></div>
        <div><a href="/entrada">ENTRADA</a></div>
        <div style="margin-bottom: 40px;"></div>
        <div><a href="/salida">SALIDA</a></div>
    </div>

<div style="margin-bottom: 10px;"></div>
    <p>{{mi_variable}}{{idusuario}}{{ultimovalor}}</p>
    
    <div class="{% if mostrar_clase %}visible{% else %}oculta{% endif %}">
        <form action="/media_lo" method="post">
            <div class="boton-con-texto">
                <button>MEDIA LOCAL</button>
                <span class="texto-derecha">media={{media_local}}</span>
            </div>
        </form>

        <form action="/media_int" method="post">
            <div class="boton-con-texto">
                <button>MEDIA INTERNET</button>
                <span class="texto-derecha">media={{media_internet}}</span>
            </div>
        </form>

        <div class="boton-con-texto">
            <button>Nº MEDIAS SOLICITADAS  </button>
            <span class="texto-derecha">media={{contador}}</span>
        </div>

        <form action="/graficas" method="post">
            <div class="boton-con-texto">
                <button>GRÁFICAS EXTERNAS</button>
            </div>
        </form>

        <div style="margin-bottom: 5px;"></div>
       <form action="/umbral_historico" method="POST">
    <label for="umbral_historico" style="display: inline-block; width: 100px;">Umbral:</label>
    <input type="text" id="umbral_historico" name="umbral_historico" style="display: inline-block;">
    <button type="submit" style="display: inline-block;">Enviar</button>
</form>

        
        <form action="/umbral_actual" method="POST">
    <label for="umbral_actual" style="display: inline-block; width: 100px;">Umbral:</label>
    <input type="text" id="umbral_actual" name="umbral_actual" style="display: inline-block;">
    <button type="submit" style="display: inline-block;">Enviar</button>
    </form>

        
        <p>Umbral histórico: {{ umbral_historico }} Umbral actual: {{ umbral_actual}}</p>
        <p>Umbral histórico (últimos 5 datos): {{ ultimo_valor_1 }}, {{ ultimo_valor_2 }}, {{ ultimo_valor_3 }}, {{ ultimo_valor_4 }}, {{ ultimo_valor_5 }}</p>
  <p id="contadorElement"></p>

<script>
    var eventSource = new EventSource('/notifications');
    var timer;

    eventSource.onmessage = function(event) {
        var message = event.data;
        if (message !== '') {
            contadorElement.innerText = message;
        }
    };

    eventSource.onerror = function(error) {
        console.error('Error en la fuente de eventos:', error);
        eventSource.close();
    };
</script>




</body>
        
    </div>
    
</body>

</html>

